<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>node paypal app</title>
</head>
<body>
  <h1> Gibson Guitar</h1>
  <h2>Buy for 200$</h2>

  <form action="/pay" method="POST">
    <input type="submit" value="buy">
  </form>
</body>
</html>